<div class="day2">
    <div class="col-xl-4 col-lg-6 col-md-6" style="margin: auto;">
            <div class="comp">
                <a href="#">
                    <img src="https://th.bing.com/th/id/R.f9311229baff94829cb946876765228e?rik=0hv9ktKypyYvUg&riu=http%3a%2f%2f3.bp.blogspot.com%2f-ipeMSAHs6bo%2fT6LS1HfwoGI%2fAAAAAAAAAGs%2fEEVmKQgfMi8%2fs1600%2f575080_283983378357930_176360952453507_605060_1640544811_n.jpg&ehk=U9%2f84dlhWR8mf5SruU07CoFjbd2rhn%2bu81zUBD1gamI%3d&risl=&pid=ImgRaw&r=0"
                    style="width: 300px;height: 350px;">
                </a><br><br>
                <div class="container">
                  <h3>Fashioninsta Finals</h3>
                  <p><i class="fa fa-clock-o" style="color:rgb(76, 130, 230);font-size: large;">&nbsp;&nbsp;</i><span style="color: rgba(133, 136, 136, 0.788);">6:00 PM - 7:00 PM</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker" style="color:rgb(76, 130, 230);font-size: large;"></i>&nbsp;&nbsp;<span style="color: rgba(133, 136, 136, 0.788);">Not Live</span>
                  </p>
                  <p style="color: rgba(133, 136, 136, 0.788);line-height: 5px;">Speakers: Nikhil Kandhari and Vaishali</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <div class="nights">
                    <a href="#">
                        <img src="https://th.bing.com/th/id/R.880c520976276f5fafcfb2141301b02f?rik=pgPIwxEZEtuSBg&riu=http%3a%2f%2fmediad.publicbroadcasting.net%2fp%2fwjct%2ffiles%2fstyles%2fx_large%2fpublic%2f201502%2fJazzPoster_Web.jpg&ehk=kfHMzR1OugRx2SptzGxRB77VgfelXC%2bkSGofEfW%2bKAo%3d&risl=&pid=ImgRaw&r=0" style="width: 400px;height: 500px;">
                    </a><br><br>
                    <div class="container">
                      <h3>Jazz Night</h3>
                      <p><i class="fa fa-clock-o" style="color:rgb(76, 130, 230);font-size: large;">&nbsp;&nbsp;</i><span style="color: rgba(133, 136, 136, 0.788);">8:00 PM - 9:30 PM</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker" style="color:rgb(76, 130, 230);font-size: large;"></i>&nbsp;&nbsp;<span style="color: rgba(133, 136, 136, 0.788);">Concert</span>
                      </p>
                      <p style="color: rgba(133, 136, 136, 0.788);line-height: 5px;">TBA</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="nights">
                    <a href="#">
                        <img src="https://th.bing.com/th/id/OIP.Nwb4I9QH8EyEBYwQhdOpJAHaJl?w=182&h=236&c=7&r=0&o=5&dpr=1.25&pid=1.7" style="width: 400px;height: 500px;">
                    </a><br><br>
                    <div class="container">
                      <h3>Acoustic Night</h3>
                      <p><i class="fa fa-clock-o" style="color:rgb(76, 130, 230);font-size: large;">&nbsp;&nbsp;</i><span style="color: rgba(133, 136, 136, 0.788);">10:00 PM - 12:00 PM</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker" style="color:rgb(76, 130, 230);font-size: large;"></i>&nbsp;&nbsp;<span style="color: rgba(133, 136, 136, 0.788);">Concert</span>
                      </p>
                      <p style="color: rgba(133, 136, 136, 0.788);line-height: 5px;">TBA</p>
                    </div>
                </div>
            </div>
        </div>
</div>
