 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="https://th.bing.com/th/id/R.539079c9c9e82c857395f2c51a13ba6a?rik=tv%2fj24FGuTsRYg&riu=http%3a%2f%2fmediad.publicbroadcasting.net%2fp%2fkstx%2ffiles%2fstyles%2fx_large%2fpublic%2f201709%2fBotanica_LOGO_Alt_Lockup_Date_Large.png&ehk=GLZlR9ZUIgNOHN2i%2f91aDwJuqBXpajzOvAzp08eUCyA%3d&risl=&pid=ImgRaw&r=0" 
        alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="space">&nbsp;
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/sponsors">Sponsors</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
      </ul>
      <div class="icons">
        <a href="https://www.facebook.com/botanicamusicfest/" class="fa fa-facebook"></a>&nbsp;
        <a href="https://www.youtube.com/watch?v=LCb2wCuL6GY" class="fa fa-youtube"></a>&nbsp;
        <a href="https://www.instagram.com/botanicamusicfest/" class="fa fa-instagram"></a>&nbsp;
      </div>
    </div>
  </nav>
