<app-header></app-header>
<div id="id">
<div class="intro">
    <p id="line">
        Meet Our Sponsors
    </p>
    <p>
        <a routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Sponsors
    </p>
</div>
<div class="sponsors">
    <div class="col-xl-4 col-lg-6 col-md-6" style="margin: auto;">
        <div class="card">
            <a href="https://paytm.com/">
                <img src="https://th.bing.com/th/id/OIP._YgtL4UX1xhQQzNYiRGvCAHaEr?w=285&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="Paytm">
            </a><br>
            <div class="container">
              <a href="https://paytm.com/" id="home-page"><h4><b>Paytm</b></h4></a>
              <h3>Title Sponsor</h3>
            </div>
          </div>
    </div>
      <br>
      <div class="row">
        <div class="column">
            <div class="card">
                <a href="https://www.xporium.com/">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQEKB-1XEIpjLQ/company-logo_200_200/0/1519920384712?e=2159024400&v=beta&t=TIsOMUrctOiN7xTzjE1bBtXa7FUI8pvDL8j71CjQpqk">
                </a><br>
                <div class="container">
                  <a href="https://www.xporium.com/" id="home-page"><h4><b>Xporium</b></h4></a>
                  <h3>Platform Partner</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <a href="https://www.gsl.so/">
                    <img src="https://th.bing.com/th/id/OIP.x_-pVKGZhMd1HT7HfoYIDAAAAA?w=201&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                </a><br>
                <div class="container">
                  <a href="https://www.gsl.so/" id="home-page"><h4><b>Global Sports League</b></h4></a>
                  <h3>Powered By Sponsor</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <a href="https://www.ibm.com/in-en">
                    <img src="https://th.bing.com/th/id/OIP.rwjjZKpI_mpf6i3g9PYlaQHaE7?w=237&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" >
                </a><br>
                <div class="container">
                  <a href="https://www.ibm.com/in-en" id="home-page"><h4><b>IBM</b></h4></a>
                  <h3>Technology Partner</h3>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
            <div class="card">
                <a href="https://www.haasf1team.com/">
                    <img src="https://th.bing.com/th/id/OIP.HodlSxYVd8ZNIveXlA0gRwHaFj?w=228&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                </a><br>
                <div class="container">
                  <a href="https://www.haasf1team.com/" id="home-page"><h4><b>Haas</b></h4></a>
                  <h3>Racing Partner</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <a href="https://economictimes.indiatimes.com/campaign/logo">
                    <img src="https://th.bing.com/th/id/OIP.36_m4JkPSxDGq_cYzbKFsAHaHa?w=182&h=182&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                </a><br>
                <div class="container">
                  <a href="https://economictimes.indiatimes.com/campaign/logo" id="home-page"><h4><b>The Economic Times</b></h4></a>
                  <h3>Brought You By Sponsor</h3>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <a href="https://www.radware.com/">
                    <img src="https://th.bing.com/th/id/OIP.syTLIB96JkgGnllHgfWIiAHaEK?w=287&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                </a><br>
                <div class="container">
                  <a href="https://www.radware.com/" id="home-page"><h4><b>Radware</b></h4></a>
                  <h3>Security Partner</h3>
                </div>
            </div>
        </div>

      
</div>
  

</div>
<app-footer></app-footer>